body{
	div{
		h1{
			background-color: $color1;
			&:hover{
				background-color: $color2;
			}
		}
	}
}
a{
    color: blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: purple;
    }
}
